<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lectoescritura">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lectoescritura">
        <activity android:name=".Nivel4" android:screenOrientation="portrait"></activity>
        <activity android:name=".Nivel3"  android:screenOrientation="portrait"/>
        <activity android:name=".Nivel1_Terminado"  android:screenOrientation="portrait" />
        <activity android:name=".Nivel1_Ejercicio3"  android:screenOrientation="portrait"/>
        <activity android:name=".Nivel1_Error"  android:screenOrientation="portrait"/>
        <activity android:name=".Nivel1_Ejercicio2"  android:screenOrientation="portrait" />
        <activity android:name=".Nivel1_Ejercicio1"  android:screenOrientation="portrait"/>
        <activity android:name=".MenuMapa"  android:screenOrientation="portrait"/>
        <activity android:name=".Memorama"  android:screenOrientation="portrait"/>
        <activity android:name=".Activity_nivel2_ejercicio1"  android:screenOrientation="portrait"/>
        <activity android:name=".Activity_nivel2_ejercicio2"  android:screenOrientation="portrait"/>
        <activity android:name=".Activity_nivel2_ejercicio3"  android:screenOrientation="portrait"/>
        <activity android:name=".HistoriaChal2"  android:screenOrientation="portrait"/>
        <activity android:name=".HistoriaChal"  android:screenOrientation="portrait"/>
        <activity android:name=".Nivel5_Ejercicio1"  android:screenOrientation="portrait"/>
        <activity android:name=".Nivel5_Ejercicio2"  android:screenOrientation="portrait"/>
        <activity android:name=".Nivel5_Ejercicio3"  android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>