<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lectoescritura">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lectoescritura">
        <activity android:name=".Nivel4"></activity>
        <activity android:name=".Nivel3" />
        <activity android:name=".Nivel1_Terminado" />
        <activity android:name=".Nivel1_Ejercicio3" />
        <activity android:name=".Nivel1_Error" />
        <activity android:name=".Nivel1_Ejercicio2" />
        <activity android:name=".Nivel1_Ejercicio1" />
        <activity android:name=".MenuMapa" />
        <activity android:name=".Memorama" />
        <activity android:name=".Activity_nivel2_ejercicio1" />
        <activity android:name=".Activity_nivel2_ejercicio2" />
        <activity android:name=".Activity_nivel2_ejercicio3" />
        <activity android:name=".HistoriaChal2" />
        <activity android:name=".HistoriaChal" />
        <activity android:name=".Nivel5_Ejercicio1" />
        <activity android:name=".Nivel5_Ejercicio2" />
        <activity android:name=".Nivel5_Ejercicio3" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>